/* LOADER */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.979);
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #007b00;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:hover {
    color: #094b08;
    text-decoration: none;
}

header {
    background-color: #464d41;
}

/*Nav*/
nav {
    background-color: #99A98F;
}

/* nav {
    background-color: #e1e7dd;
} */

.logo {
    width: 8rem;
}

.navbar-nav img {
    width: 1.5rem;
}

.dropdown-menu{
    background-color: #8a9981;
}

.dropdown-menu li{
    --bs-dropdown-link-hover-bg: #464d41;
}

.btnFondo{
  background-color: #32454586;
  color: aliceblue;
  width: 20rem;
}

.btnFondo:hover{
  background-color: #324545;
  color: aliceblue;
}


/* Main */
main {
    background-color: #f9f5eb;
}

.form_create{
    width: 100%;
}

.form_create label{
    width: 12rem;
    font-size: 0.9rem;
}

.form_create input, .form_create textarea, .form_create select{
    width: 326px;
}

.form_create button{
    width: 20rem;
}

.productImage{
    width: 9rem;
    height: 9rem;
    border: 1px solid black;
    border-radius: 10%;
}


/*Footer*/
.pie-pagina{
    width: 100%;
    background-color: #99A98F;
    font-family: 'Open Sans', sans-serif;
  }
  
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pie-pagina .grupo-1 .box figure img{
    width: 250px;
    height: 7rem;
    object-fit: cover;
  }
  
  .pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  .pie-pagina .grupo-1 .box a{
    text-decoration: none;
    color: #efefef;
  }
  
  
  .pie-pagina .grupo-1 .box p{
    margin-bottom: 10px;
    color: #efefef;
    cursor: pointer;
  }
  
  .pie-pagina .grupo-1 .box a:hover, .pie-pagina .grupo-1 .box p:hover{
    color: green;
  }
  
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #464d41;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 5px;
  }
  
  .pie-pagina .grupo-1 .red-social a:hover{
    color: green;
  }
  
  .pie-pagina .grupo-2{
    background-color: #464d41;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }

  @media only screen and (max-width: 700px) {
    .div_productos{
        flex-direction: column;
        align-items: center;
    }
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
      }
    
}
  