@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
/* LOADER */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.979);
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #007b00;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #464d41;
}

/*Nav*/
nav {
    background-color:#99A98F;
}

.logo {
    width: 8rem;
}

.navbar-nav img {
    width: 1.5rem;
}

.nav-item span{
    height: 50%;
}

.nav-link:hover{
    color: #478047 !important;
}

.dropdown-menu {
    background-color: #8a9981;
}

.dropdown-menu img{
    width: 1.5rem;
}

.dropdown-menu li {
    --bs-dropdown-link-hover-bg: #464d41;
}

.navGranPantalla img{
  width: 1.5rem;
}

.navGranPantalla a{
  text-decoration: none;
}

.navGranPantalla a:hover{
  color: #094b08 !important;
}

/* Main */
main {
    background-color: #f9f5eb;
    min-height: 95vh;
    position: relative;
}
.card{
    background-color: #f9f5eb;
    height: 100%;
    border:none;
}
.imgProduct{
    height: 470px;
    width: 470px;
    object-fit: cover;
}

/*Botones*/
.btnProductos{
  background-color: #324545a8;
  color: aliceblue;
}

.btnProductos:hover{
  background-color: #324545;
  color: aliceblue;
}


/*Boton */
.agregarBoton{
  background-color: #324545a8;
    border:1px solid #324545a8;
    border-radius: 5px;
    transition: .3s;
    color: aliceblue;
    padding: 0.4rem 0;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .agregarBoton:hover{
    background-color: #324545;
  }
  .btnProductos{
    background-color: #324545a8;
    color: aliceblue;
  }
  
  .btnProductos:hover{
    background-color: #324545;
    color: aliceblue;
  }
  .btnFondo{
    background-color: #324545;
    color: aliceblue;
  }
  
  .btnFondo:hover{
    background-color: #324545;
    color: aliceblue;
  }
.product-content{
  /*  padding: 2rem 1rem;*/
    background-color: #99A98F;
}
.product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 600;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
    width: 527px;
    
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #324545;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color:  #324545;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,

.purchase-info input{
    width: 60px;
}

.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
@media screen and (min-width:996px) and (max-width: 1199px){
 
 
  .product-imgs{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .product-content{
      padding-top: 0;
  }
  .product-title{
      font-size: 2rem;
      font-weight: 150;
      width: 400px;
      
      justify-content: center !important;
      align-items: center ;
  }
  .descripcion{
      width: 275px !important;    
  }
  .imgProduct{
      height: 400px !important;
      width: 400px !important;
      object-fit: cover;
  }
}
@media screen and (min-width:601px) and (max-width: 995px){
    .card{
        display: flex !important;
       flex-direction: column !important;
    }
   
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
    .product-title{
        font-size: 2rem;
        font-weight: 150;
        width: 400px;
        
        justify-content: center !important;
        align-items: center ;
    }
    .descripcion{
        width: 275px !important;    
    }
    .imgProduct{
        height: 400px !important;
        width: 400px !important;
        object-fit: cover;
    }
}

@media screen and (max-width: 600px){
    .card{
        display: flex !important;
       flex-direction: column !important;
    }
   
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
    .product-title{
        font-size: 2rem;
        font-weight: 150;
        width: 300px;
        
        justify-content: center !important;
        align-items: center ;
    }
    .descripcion{
        width: 275px !important;
       
    
    }
    .imgProduct{
        height: 300px !important;
        width: 300px !important;
        object-fit: cover;
    }
}
/*Aside Cuentas*/
.inactive {
    display: none;
  }
  
  .asideCuentas {
    position: absolute;
    right: 0;
    top: -50px;
    width: 12rem;
    z-index: 10;
    margin-right: 2rem;
    background-color: #e8edec;
  }
  
  .asideCuentas a {
    text-decoration: none;
    color: black;
  }
  
  .asideCuentas a:hover {
    color: #094b08;
    text-decoration: none;
  }
  
  .asideCuentas p{
    cursor: pointer;
  }
  
  .asideCuentas img{
    width: 2rem;
  }
  
  /*Aside Carrito*/
.asideCarrito {
  position: absolute;
  right: 0;
  top: 0;
  width: 30rem;
  min-height: 8%;
  z-index: 10;
  background-color: #e8edec;
}

.infoTotalDiv{
  height: 100%;
}

.asideCarritoFoto{
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.sumaBoton, .menosBoton {
  width: 2rem;
  cursor: pointer;
}

.botonBasura{
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  cursor: pointer;
}

.infoCarrito{
  width: 80%;
}
.descripcion{
    width: 550px;    
}
.sinUnidades{
    background-color: #c3cac9;
    width: 250px;
    text-align: center;
}
/*Footer*/

.pie-pagina{
  width: 100%;
  background-color: #99A98F;
  font-family: 'Open Sans', sans-serif;
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 250px;
  height: 7rem;
  object-fit: cover;
}

.pie-pagina .grupo-1 .box h2{
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box a{
  text-decoration: none;
  color: #efefef;
}


.pie-pagina .grupo-1 .box p{
  margin-bottom: 10px;
  color: #efefef;
  cursor: pointer;
}

.pie-pagina .grupo-1 .box a:hover, .pie-pagina .grupo-1 .box p:hover{
  color: green;
}

.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #464d41;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 5px;
}

.pie-pagina .grupo-1 .red-social a:hover{
  color: green;
}

.pie-pagina .grupo-2{
  background-color: #464d41;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small{
  font-size: 15px;
}
/*Scroll bar*/
body::-webkit-scrollbar {
  width: 10px;
  background: rgb(78, 73, 73);
}
body::-webkit-scrollbar-thumb {
  background: #e8edec;
  border-radius: 10px;
  border-right: 2px solid #161a1e;
}
@media only screen and (max-width: 700px) {
    .div_productos{
        flex-direction: column;
        align-items: center;
    }

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
      }

    aside {
        width: 100%;
        margin-right: 0;
        top: 0;
    }

    .asideCuentas{
        width: 100%;
        margin-right: 0;
        top: 0;
    }
    .asideCarrito{
        width: 100%;
    }

    .divContenedorProductos{
        padding: 0rem 0rem;
      }
}


 /*@media only screen and (max-width: 700px) {
    .footer_arriba {
        display: flex;
        justify-content: start !important;
        align-items: center;
    }
  
    .asideCuentas{
        width: 100%;
        margin-right: 0;
        top: 0;
    }
    .historia{
      display: none;
      visibility: hidden;
    }
  
    .divContenedorProductos{
      padding: 0rem 0rem;
    }
  }*/