@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');


/* LOADER */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(207, 226, 206, 0.979);
  z-index: 9999;
}

.loader-inner {
  width: 100px;
  height: 60px;
  margin: auto;
  position: absolute;
  inset: 0;
}

.loader-line-wrap {
  animation: spin 2000ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
  width: 100px;
  height: 50px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
}

.loader-line {
  border: 4px solid transparent;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  position: absolute;
  inset: 0;
}

.loader-line-wrap:nth-child(1) {
  animation-delay: -50ms;
}

.loader-line-wrap:nth-child(2) {
  animation-delay: -100ms;
}

.loader-line-wrap:nth-child(3) {
  animation-delay: -150ms;
}

.loader-line-wrap:nth-child(4) {
  animation-delay: -200ms;
}

.loader-line-wrap:nth-child(5) {
  animation-delay: -250ms;
}

.loader-line-wrap:nth-child(1) .loader-line {
  border-color: #022f12;
  height: 90px;
  width: 90px;
  top: 7px;
}

.loader-line-wrap:nth-child(2) .loader-line {
  border-color: #0d6a1e;
  height: 76px;
  width: 76px;
  top: 14px;
}

.loader-line-wrap:nth-child(3) .loader-line {
  border-color: #33ad33;
  height: 62px;
  width: 62px;
  top: 21px;
}

.loader-line-wrap:nth-child(4) .loader-line {
  border-color: #58d34d;
  height: 48px;
  width: 48px;
  top: 28px;
}

.loader-line-wrap:nth-child(5) .loader-line {
  border-color: #79f775;
  height: 34px;
  width: 34px;
  top: 35px;
}

@keyframes spin {
  0%,
  15% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/
header {
  background-color: #464d41;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}

/*Nav*/
nav {
  background-color: #99A98F;
}

.logo {
  width: 8rem;
}

.navbar-nav img {
  width: 1.5rem;
}

.navGranPantalla img{
  width: 1.5rem;
}

.navGranPantalla a{
  text-decoration: none;
}

.navGranPantalla a:hover{
  color: #094b08 !important;
}

.nav-item span{
  height: 50%;
}

.nav-link:hover{
  color: #094b08 !important;
}

.dropdown-menu{
  background-color: #8a9981;
}

.dropdown-menu li{
  --bs-dropdown-link-hover-bg: #464d41;
}

/*Main*/
body{
  background-color: #fff8de91 !important;
}

main{
  position: relative;
}

/*Botones*/
.btnFondo{
  background-color: #324545;
  color: aliceblue;
}

.btnFondo:hover{
  background-color: #324545;
  color: aliceblue;
}

.btnProductos{
  background-color: #324545a8;
  color: aliceblue;
}

.btnProductos:hover{
  background-color: #324545;
  color: aliceblue;
}

.btnIndex{
  width: 100%;
}

/*Productos*/

.containerInput input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.containerInput {
  display: block;
  position: relative;
  cursor: pointer;
}

.containerInput svg {
  position: relative;
  top: 0;
  left: 0;
  width: 30px;
  transition: all 0.3s;
  fill: #666;
}

.containerInput svg:hover {
  transform: scale(1.1);
}

.containerInput input:checked ~ svg{
  fill: #E3474F;
}

/*Mapa*/
.titulosIndex b{
    display: block;
    height: 2px;
    background-color: gray;
    width: 40%;
    opacity: 0.1;
}
.titulosIndex span{
    width: 35rem;
    color: #99A98F;
}

#mapa{
    position: relative;
}

#mapa iframe{
    width: 100%;
}

#mapa .direccion {
    position: absolute;
    height: 25%;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.067);
    color: rgb(9, 9, 9);
}

#mapa .direccion p{
    font-size: 1rem;
    padding: 1rem 0;
}

#mapa .direccion .container, #mapa .direccion .row {
    height: 100%;
}

/* TARJETAS PRODUCTOS EN INDEX */
.card {
    width: 17rem;
    height: 30rem;
    padding: .8em;
    background: #f5f5f5;
    overflow: visible;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.card-img {
    width: 15rem;
    height: 15rem;
    border-radius: .5rem;
    transition: .5s ease;
    object-fit: contain;
}
.card-img img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}
.card-info {
    padding-top: 4%;
}
svg {
    width: 20px;
    height: 20px;
}
.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1.5px solid #094b08ac;
    background-color: #aad0c745;
    margin: 0.5rem;
}
/*Text*/
.text-title {
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
  
}
.text-body {
    font-size: .9em;
    text-align: center;
    margin-bottom: 0 !important;
}
/*Contenedor de productos detacados*/
.lista_productos {
  height: 550px;
  overflow-y: scroll;
}

.lista_productos::-webkit-scrollbar {
  width: 10px;
  background: rgb(78, 73, 73);
}

.lista_productos::-webkit-scrollbar-thumb {
  background: #e8edec;
  border-radius: 10px;
  border-right: 2px solid #161a1e;
}

/*Button*/
.card-button {
    border: 1px solid #252525;
    display: flex;
    padding: .3em;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s ease-in-out;
}
.agregarBoton{
  background-color: #324545a8;
  border: none;
  border-radius: 5px;
  transition: .3s;
  color: aliceblue;
  padding: 0.4rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agregarBoton:hover{
  background-color: #324545;
}
/*Hover*/
.card-img:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}
.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

/*categorias*/
.divContenedorProductos{
  padding: 0rem 8rem;
}

#productos a img{
  width: 1.8rem;
}

#productos h2{
  color: #99A98F;
}

.imagenProductos{
  height: 25rem;
  object-fit: cover;
}

/* INICIO */
.img-inicio{
  object-fit: cover;
}
.img{
  width: 100%;
}

/* Historia */
.historia{
  background-image: url(../../assets/fondoHistoria.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedorHistoria{
  background-color: rgba(0, 0, 0, 0.725);
  color:#f5f5f5;
  /* font-family: 'Barlow', sans-serif; */
  font-family: 'Roboto Slab', serif;
  padding: 2rem;
  text-align: center;
  margin: 1rem;
  font-size:x-large;
  letter-spacing: 2.5px;   

}

/* SECCION CATEGORIAS */
.row{
  width: 100%;
}

.categoriasImagen{
  object-fit: cover;
  width: 30rem;
  height: 30rem;
}

.cajaImagen{
  width: 30rem;
  height: 30rem;
}
.tituloCategorias {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left; 
  font-family: Arial Black; 
  font-weight: bold; 
  font-size: 30px; 
  color: #094b0898; 
  text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
  }

  .categoriasImagen:hover {
    /* transform: translateY(-10%); */
    transform:scale(0.9);
  }
.contenedorCategorias{
  background-color: #99a98f43;
  margin: 1rem;
  flex-wrap: wrap;

}

/*Aside Cuentas*/
.inactive {
  display: none;
}

.asideCuentas {
  position: absolute;
  right: 0;
  top: -50px;
  width: 12rem;
  z-index: 9998;
  margin-right: 2rem;
  background-color: #e8edec;
}

.asideCuentas a {
  text-decoration: none;
  color: black;
}

.asideCuentas a:hover {
  color: #094b08;
  text-decoration: underline;
}

.asideCuentas p{
  cursor: pointer;
}

.asideCuentas p:hover{
  text-decoration: underline;
}

.asideCuentas .favoritos:hover{
  color: #094b08;
  text-decoration: underline;
}

.asideCuentas img{
  width: 2rem;
}

/*Aside Carrito*/
.asideCarrito {
  position: absolute;
  right: 0;
  top: 0;
  width: 30rem;
  min-height: 8%;
  z-index: 10;
  background-color: #e8edec;
}

.infoTotalDiv{
  height: 100%;
}

.asideCarritoFoto{
  width: 5rem;
  height: 6rem;
  object-fit: cover;
}

.sumaBoton, .menosBoton {
  width: 2rem;
  cursor: pointer;
}

.botonBasura{
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  cursor: pointer;
}

.infoCarrito{
  width: 80%;
}

/*Footer*/
.pie-pagina{
  width: 100%;
  background-color: #99A98F;
  font-family: 'Open Sans', sans-serif;
}

.pie-pagina .grupo-1{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img{
  width: 250px;
  height: 7rem;
  object-fit: cover;
}

.pie-pagina .grupo-1 .box h2{
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box a{
  text-decoration: none;
  color: #efefef;
}


.pie-pagina .grupo-1 .box p{
  margin-bottom: 10px;
  color: #efefef;
  cursor: pointer;
}

.pie-pagina .grupo-1 .box a:hover, .pie-pagina .grupo-1 .box p:hover{
  color: green;
}

.pie-pagina .grupo-1 .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #464d41;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 5px;
}

.pie-pagina .grupo-1 .red-social a:hover{
  color: green;
}

.pie-pagina .grupo-2{
  background-color: #464d41;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small{
  font-size: 15px;
}

/*Video index*/
#inicio{
  width: 100%;
}

#inicio video{
  width: 100%;
  object-fit: contain;
}

/*Scroll bar*/
body::-webkit-scrollbar {
  width: 10px;
  background: rgb(78, 73, 73);
}
body::-webkit-scrollbar-thumb {
  background: #e8edec;
  border-radius: 10px;
  border-right: 2px solid #161a1e;
}

/*Moda Fav*/
#fav .modal-content{
  background-color: #fff8dee1
}

#fav .modal-footer{
  background-color: #99A98F;
}

/*Scroll bar*/
#fav .modal-body::-webkit-scrollbar {
  width: 10px;
  background: rgb(78, 73, 73);
}
#fav .modal-body::-webkit-scrollbar-thumb {
  background: #e8edec;
  border-radius: 10px;
  border-right: 2px solid #161a1e;
}

@media only screen and (max-width: 700px) {
  .asideCuentas{
      width: 100%;
      margin-right: 0;
      top: 0;
      z-index: 10;
  }

  .asideCarrito {
    width: 100%;
  }

  .historia{
    display: none;
    visibility: hidden;
  }

  .divContenedorProductos{
    padding: 0rem 0rem;
  }

  .pie-pagina .grupo-1{
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }
}

