/* LOADER */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.979);
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #007b00;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #464d41;
}

/*Nav*/
nav {
    background-color: #99A98F;
}

.logo {
    width: 8rem;
}

.navbar-nav img {
    width: 1.5rem;
}

.nav-item span{
    height: 50%;
}

.nav-link:hover{
    color: #094b08 !important;
    text-decoration: underline;
}

.dropdown-menu {
    background-color: #8a9981;
}

.dropdown-menu img{
    width: 1.5rem;
}

.dropdown-menu li {
    --bs-dropdown-link-hover-bg: #464d41;
}

/* Main */
main {
    /*background-color: #f9f5eb;*/
    background-image: url(../../assets/fondoHistoria.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 95vh;
    position: relative;
}

/*Botones*/
.btnFondo{
  background-color: #324545;
  color: aliceblue;
}

.btnFondo:hover{
  background-color: #324545;
  color: aliceblue;
}
.btnProductos{
    background-color: #324545a8;
    color: aliceblue;
  }
  
  .btnProductos:hover{
    background-color: #324545;
    color: aliceblue;
  }
/*Perfil*/
.perfil{
    height: 10rem;
    background-color: #e8edecc2 !important;
}
.iconoPerfil{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
}
.nav a{
    text-decoration: none;
    color: #000;
    font-size: large;
}
li{
    list-style: none;
}
.nav{
    background-color: #e8edecc2; 
    width: 18rem;
    height: 18rem;
}
.nav li a:hover{
    color: #094b08 !important;
}

.nav p{
    cursor: pointer;
}
/**/
.infoPersonal{
    width: 35rem;
    height: 25rem;
    background-color:  #e8edecc2;
    /*background: transparent;
    backdrop-filter: blur(15px);*/
    margin-top: 49px;
    margin-bottom: 49px;
}
.informacion{
    margin-left: 100px;
}
.informacion2{
    margin-left: 180px;
}
.genero{
    margin-left: 95px;
}
.botonEditar{
    margin-right: 40px;
}
h6{
    font-weight: bold;
  }
.colorButton{
    background-color: #99A98F;
    color: white;
}

.ubicacionTel{
    margin-top: 85px;
}

/*Aside Cuentas*/
.inactive {
    display: none;
}

.asideCuentas {
    position: absolute;
    right: 0;
    top: -50px;
    width: 12rem;
    z-index: 10;
    margin-right: 2rem;
    background-color: #e8edec;
}

.asideCuentas a {
    text-decoration: none;
    color: black;
}

.asideCuentas a:hover {
    color: #094b08;
    text-decoration: none;
}

.asideCuentas p{
    cursor: pointer;
}

.asideCuentas img{
    width: 2rem;
}

/*Aside Carrito*/
.asideCarrito {
    position: absolute;
    right: 0;
    top: 0;
    width: 30rem;
    min-height: 8%;
    z-index: 10;
    background-color: #e8edec;
  }
  
  .infoTotalDiv{
    height: 100%;
  }
  
  .asideCarritoFoto{
    width: 6rem;
    height: 6rem;
    object-fit: cover;
  }
  
  .sumaBoton, .menosBoton {
    width: 2rem;
    cursor: pointer;
  }
  
  .botonBasura{
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    cursor: pointer;
  }
  
  .infoCarrito{
    width: 80%;
  }
.classUl{
    width: 100% !important;
}
.nav ul, .nav a{
    width: 100% !important;
}
.nav a{
    display: inline-block;
}
.hoverBotonesNav:hover{
  
    text-decoration:underline;
}
/*Footer*/
.pie-pagina{
    width: 100%;
    background-color: #99A98F;
    font-family: 'Open Sans', sans-serif;
  }
  
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }
  
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .pie-pagina .grupo-1 .box figure img{
    width: 250px;
    height: 7rem;
    object-fit: cover;
  }
  
  .pie-pagina .grupo-1 .box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
  }
  
  .pie-pagina .grupo-1 .box a{
    text-decoration: none;
    color: #efefef;
  }
  
  
  .pie-pagina .grupo-1 .box p{
    margin-bottom: 10px;
    color: #efefef;
    cursor: pointer;
  }
  
  .pie-pagina .grupo-1 .box a:hover, .pie-pagina .grupo-1 .box p:hover{
    color: green;
  }
  
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #464d41;
    text-align: center;
    transition: all 300ms ease;
    border-radius: 5px;
  }
  
  .pie-pagina .grupo-1 .red-social a:hover{
    color: green;
  }
  
  .pie-pagina .grupo-2{
    background-color: #464d41;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }
  
  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }
/*Scroll bar*/
body::-webkit-scrollbar {
    width: 10px;
    background: rgb(78, 73, 73);
  }
  body::-webkit-scrollbar-thumb {
    background: #e8edec;
    border-radius: 10px;
    border-right: 2px solid #161a1e;
  }
@media only screen and (max-width: 700px) {
    .div_productos{
        flex-direction: column;
        align-items: center;
    }

    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
      }

    aside {
        width: 100%;
        margin-right: 0;
        top: 0;
    }

    .asideCarrito{
        width: 100%;
    }
}
@media only screen and (min-width:320px) and (max-width:649px){
  
   .responsivePerfil{
    flex-direction: column;
    align-items: center !important;
   }
   .responsiveInfoPerfil{
    flex-direction: column;
    
   } 
   .infoPersonal{
    height: auto;
    width: 18rem !important;
    
    
   }
   .ubicacionTel{
    margin-top: 0px;
   }
   .columnasInfo{
    
    margin-left: 33px;
   }
    
}
@media only screen and (min-width:650px) and (max-width:768px){
   
    .responsivePerfil{
        flex-direction: column;
        align-items: center !important;
       }
     
    
 
 }
@media only screen and (min-width:769px) and (max-width:1023px){

    .infoPersonal{
     height: auto;
     width: 19rem;
    padding-left: 35px;
    }
    .ubicacionTel{
     margin-top: 0px;
    }  
     
 }