@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,700&display=swap');

/* LOADER */
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.979);
  z-index: 9999;
}

.loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 4px solid #007b00;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #464d41;
  font-family: 'Lato', sans-serif;
  font-size: 1.1rem;
}

/*Nav*/
nav {
  background-color: #99A98F;
}

.logo {
  width: 8rem;
}

.navbar-nav img {
  width: 1.5rem;
}

.nav-item span {
  height: 50%;
}

.navGranPantalla img {
  width: 1.5rem;
}

.navGranPantalla a {
  text-decoration: none;
}

.navGranPantalla a:hover {
  color: #094b08 !important;
}

.nav-link:hover {
  color: #094b08 !important;
}

.dropdown-menu {
  background-color: #8a9981;
}

.dropdown-menu img {
  width: 1.5rem;
}

.dropdown-menu li {
  --bs-dropdown-link-hover-bg: #464d41;
}

/* Main */
main {
  background-color: #f9f5eb;
  min-height: 95vh;
  position: relative;
}

/*Favoritos*/
.containerInput input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.containerInput {
  display: block;
  position: relative;
  cursor: pointer;
}

.containerInput svg {
  position: relative;
  top: 0;
  left: 0;
  width: 30px;
  transition: all 0.3s;
  fill: #666;
}

.containerInput svg:hover {
  transform: scale(1.1);
}

.containerInput input:checked~svg {
  fill: #E3474F;
}

/*Moda Fav*/
#fav .modal-content {
  background-color: #fff8dee1
}

#fav .modal-footer {
  background-color: #99A98F;
}

/*Scroll bar*/
#fav .modal-body::-webkit-scrollbar {
  width: 10px;
  background: rgb(78, 73, 73);
}

#fav .modal-body::-webkit-scrollbar-thumb {
  background: #e8edec;
  border-radius: 10px;
  border-right: 2px solid #161a1e;
}

/*Botones*/
.btnProductos {
  background-color: #324545a8;
  color: aliceblue;
}

.btnProductos:hover {
  background-color: #324545;
  color: aliceblue;
}

.div_productos {
  justify-content: center;
}

.filtros select {
  background-color: #324545a8;
  color: white;
}

.filtros_productos p {
  width: 20rem;
}

.filtros_productos select {
  width: auto;
}

.filtros_productos select {
  border-radius: 1.5rem;
  background-color: #324545a8;
  color: white;
}

/*Tarjetas*/

.card {
  width: 17rem;
  height: 30rem;
  padding: .8em;
  background: #f5f5f5;
  overflow: visible;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-img {
  width: 15rem;
  height: 15rem;
  border-radius: .5rem;
  transition: .5s ease;
  object-fit: contain;
}

.card-img img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}

.card-info {
  padding-top: 4%;
}

svg {
  width: 20px;
  height: 20px;
}

.card-footer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  border-top: 1.5px solid #094b08ac;
  background-color: #aad0c745;
}

/*Text*/
.text-title {
  font-weight: 900;
  font-size: 1.2em;
  line-height: 1.5;
  text-align: center;
}

.text-body {
  font-size: .9em;
  text-align: center;
}

/*Button*/
.card-button {
  border: 1px solid #252525;
  display: flex;
  padding: .3em;
  cursor: pointer;
  border-radius: 5px;
  transition: .3s ease-in-out;
}

.agregarBoton {
  background-color: #324545a8;
  border: none;
  border-radius: 5px;
  transition: .3s;
  color: aliceblue;
  padding: 0.4rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.agregarBoton:hover {
  background-color: #324545;
}

/*Hover*/
.card-img:hover {
  transform: translateY(-10%);
  box-shadow: rgba(226, 196, 63, 0.25) 0px 13px 47px -5px, rgba(180, 71, 71, 0.3) 0px 8px 16px -8px;
}

.card-button:hover {
  border: 1px solid #ffcaa6;
  background-color: #ffcaa6;
}

/*Aside Cuentas*/
.inactive {
  display: none;
}

.asideCuentas {
  position: absolute;
  right: 0;
  top: -50px;
  width: 12rem;
  z-index: 9998;
  margin-right: 2rem;
  background-color: #e8edec;
}

.asideCuentas a {
  text-decoration: none;
  color: black;
}

.asideCuentas a:hover {
  color: #094b08;
  text-decoration: none;
}

.asideCuentas p {
  cursor: pointer;
}

.asideCuentas img {
  width: 2rem;
}

/*Aside Carrito*/
.asideCarrito {
  position: absolute;
  right: 0;
  top: 0;
  width: 30rem;
  min-height: 8%;
  z-index: 10;
  background-color: #e8edec;
}

.infoTotalDiv {
  height: 100%;
}

.asideCarritoFoto {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.sumaBoton,
.menosBoton {
  width: 2rem;
  cursor: pointer;
}

.botonBasura {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  cursor: pointer;
}

.infoCarrito {
  width: 80%;
}



/*-----------------------------------------------------Footer--------------------------------------------*/
/*Footer*/
.pie-pagina {
  width: 100%;
  background-color: #99A98F;
  font-family: 'Open Sans', sans-serif;
}

.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina .grupo-1 .box figure img {
  width: 250px;
  height: 7rem;
  object-fit: cover;
}

.pie-pagina .grupo-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}

.pie-pagina .grupo-1 .box a {
  text-decoration: none;
  color: #efefef;
}


.pie-pagina .grupo-1 .box p {
  margin-bottom: 10px;
  color: #efefef;
  cursor: pointer;
}

.pie-pagina .grupo-1 .box a:hover,
.pie-pagina .grupo-1 .box p:hover {
  color: green;
}

.pie-pagina .grupo-1 .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #464d41;
  text-align: center;
  transition: all 300ms ease;
  border-radius: 5px;
}

.pie-pagina .grupo-1 .red-social a:hover {
  color: green;
}

.pie-pagina .grupo-2 {
  background-color: #464d41;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}

.pie-pagina .grupo-2 small {
  font-size: 15px;
}

/*Scroll bar*/
body::-webkit-scrollbar {
  width: 10px;
  background: rgb(78, 73, 73);
}

body::-webkit-scrollbar-thumb {
  background: #e8edec;
  border-radius: 10px;
  border-right: 2px solid #161a1e;
}

@media only screen and (max-width: 700px) {
  .div_productos {
    flex-direction: column;
    align-items: center;
  }

  .footer_arriba {
    display: flex;
    justify-content: start !important;
    align-items: center;
  }

  aside {
    width: 100%;
    margin-right: 0;
    top: 0;
  }

  .asideCarrito {
    width: 100%;
  }

  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px;
  }

}